/////////////////// defaults
$topnavHeight: 40px!default;
$topnavZindex: 1000!default;
$topnavBgc: #fff!default;
////////////////////////////


.c-topnav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $topnavHeight;
  z-index: $topnavZindex;
  background-color: $topnavBgc;
  box-shadow: rgba(#000, .075) 0 -1px 0 inset;
  display: flex;
  align-items: center;
  padding: 0 .5rem;
}
