.u-text-right{
  text-align: right;
}
.u-text-center{
  text-align: center;
}
.tu-ext-uppercase {
  text-transform: uppercase;
}
.u-text-strong{
  font-weight: 700;
}
.u-text-center{
  text-align: center;
}
.u-text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
