/////////////////// defaults
$sidebarSmallWidth: 50px!default;
$sidebarWidth: 220px!default;
$sidebarBgc: #fcfcfc!default;
$sidebarZindex: 990!default;
////////////////////////////

.o-sidebar{
  background-color: $sidebarBgc;
  position: fixed;
  top: $topnavHeight;
  left: $sidebarWidth * -1;
  transition: width .3s, left .3s;
  width: $sidebarWidth;
  bottom: 0;
  z-index: $sidebarZindex;
  box-shadow: rgba(#000, .075) -1px 0 0 inset;

  @media screen and (min-width: 768px) {
    left: 0;
    width: $sidebarSmallWidth;
  }

  @media screen and (min-width: 1200px) {
    width: $sidebarWidth;
  }
}

.o-sidebar{
  a{
    text-decoration: none;
    color: #666;
  }
}
